<footer class="footer">
  <% if (prev) { %>
      <a href=<%- include('smartlink.ejs'); %><%= prev.href %>>&larr;<%= prev.name %></a>
  <% } %>
  <% if (next && prev) { %>
    <span>&nbsp;|&nbsp;</span>  
  <% } %>
  <% if (next) { %>
      <a href=<%- include('smartlink.ejs'); %><%= next.href %>><%= next.name %>&rarr;</a>
  <% } %>
  <p>
    I am a super simple html page build with webgen technology leveraging markdown and ejs.
  </p>
  <% if (links) { %>
    <% links.forEach(function(link){ %>
      <a href=<%- include('smartlink.ejs'); %><%= link.href %> target="_blank" rel="noopener noreferrer">
        <%= link.name %>
      </a>
    <% }); %>
  <% } %>
</footer>