<nav class="nav">
  <ul>
  <% nav.forEach(function(value) { %>
    <% if(value.href) {%>
      <li>
        <% if (value.name === name) { %>
           <%= value.name %>
        <% } else { %>
           <a href=<%- include('smartlink.ejs'); %><%= value.href %>>
            <%= value.name %>
          </a>
        <% } %>
      </li>
    <% } %>
    <% if(value.dir) {%>
      <li><%= value.dir %>
      <ul>
      <% value.nested.forEach(function(nest) { %>
        <li>
          <% if (nest.href === href) { %>
            <%= nest.name %>
          <% } else { %>
             <a href=<%- include('smartlink.ejs'); %><%= nest.href %>>
              <%= nest.name %>
            </a>
          <% } %>
        </li>
      <% }) %>
      </ul>
    <% } %>
  <% }) %>
  </ul>
</nav>