<nav class="nav">
  <ul>
  <% nav.forEach(function(value) { %>
    <% if(value.href) {%>
      <li><a href=/<%= root %>/<%= value.href %>><%= value.name %></a></li>
    <% } %>
    <% if(value.dir) {%>
      <li><%= value.dir %>
      <ul>
      <% value.nested.forEach(function(nest) { %>
        <li><a href=/<%= root %>/<%= nest.href %>><%= nest.name %></a></li>
      <% }) %>
      </ul>
    <% } %>
  <% }) %>
  </ul>
</nav>